@use "../abstracts/colors";
@use "../abstracts/fonts";

#calculator {
  * {
    font-family: wwDigital, sans-serif;
    font-size: fonts.$font-size-big;
    color: colors.$text-color;
    letter-spacing: 1px;
  }

  height: 550px;
  width: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 5px solid black;
  background-color: colors.$calc-bg-color;
}