@use "abstracts/index" as abs;
@use "components/index";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  @include abs.flex-center;
  background-color: #e5e6e4;
}

#calculator {
  * {
    font-family: wwDigital, sans-serif;
    font-size: abs.$font-size-big;
    color: abs.$text-color;
    letter-spacing: 1px;
  }

  height: 550px;
  width: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 5px solid black;
  background-color: abs.$calc-bg-color;
}